/*Reset CSS starts here*/
*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' , sans-serif;
    color: #333661;
    scroll-behavior: smooth;
}
ul {
    margin: 0;
    padding: 0;
}
.mid_section{
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}
.width50 {
    width: 50%;
    padding: 0 10px;
}
.mid_row{
    display: flex;
}
.justify_center {
  justify-content: center;
}
.align_center{
    align-items: center;
}
.text_center{
    text-align: center;
}
.paddingtop50{
    padding-top: 50px;
}
.paddingbottom50{
    padding-bottom: 50px;
}
.paddingbottom30{
    padding-bottom: 30px;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
    -webkit-transition: color 0.1s ease-in-out;
    -moz-transition: color 0.1s ease-in-out;
    -ms-transition: color 0.1s ease-in-out;
    -o-transition: color 0.1s ease-in-out;
    transition: color 0.1s ease-in-out;
}
h1 {
    color: #333661;
    font-weight: 800;
    font-size: 50px;
    line-height: 62px;
    margin: 0;
}
h2 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 700;
    margin: 0;
    display: inline-block;
    position: relative;
    z-index: 0;
}
h2:after{
    content: '';
    position: absolute;
    background-color: #f9c1e8;
    width: 100%;
    height: 15px;
    bottom: 0;
    right: 0;
    z-index: -1;
}
h3 {
    font-size: 26px;
    margin: 0;
    font-weight: 600;
}
h4 {
    font-size: 22px;
    font-weight: 600;
    margin: 0;
}
h5{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
}
h6{
    font-size: 14px;
    font-weight: 600;
    margin: 0;
    color: #9d4983;
}
p{
    font-size: 16px;
}
a.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    min-width: 140px;
    text-align: center;
}  
a.btn_main{
    background-color: #3b3f6f;
    border: 2px solid transparent;
    color: #fff;
} 
a.btn_main:hover{
    background-color: transparent;
    border: 2px solid #3b3f6f;
    color: #3b3f6f;
}
a.btn_main2 {
    background-color: #9d4983;
    border: 2px solid transparent;
    color: #fff;
}
a.btn_main2:hover{
    background-color: transparent;
    border: 2px solid #9d4983;
    color: #9d4983;
}
.flex-wrap{
    flex-wrap: wrap;
}

/*Header Starts here*/
header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_logo {
    margin: 10px 0 12px 20px;
    font-size: 38px;
    line-height: 40px;
    font-weight: 700;
    text-decoration: none;
    color: #333661;
    letter-spacing: -1px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.page_logo:before {
    content: '';
    position: absolute;
    background-color: #f9c1e8;
    width: 100%;
    height: 15px;
    bottom: 2px;
    left: 0;
    z-index: -1;
}


header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}
header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
header li {
    padding: 0 20px;
}
header li a {
  display: block;
  text-decoration: none;
  color: #333661;
  font-size: 16px;
  font-weight: 500;
}

header li a:hover,
header .menu-btn:hover {
  color: #9d4983;
}

header .menu-icon {
    cursor: pointer;
    display: inline-block;
    float: right;
    padding: 25px 20px;
    position: relative;
    user-select: none;
    vertical-align: middle;
}

header .menu-icon .navicon {
  background: #333661;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

header .menu-icon .navicon:before,
header .menu-icon .navicon:after {
  background: #333661;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

header .menu-icon .navicon:before {
  top: 5px;
}

header .menu-icon .navicon:after {
  top: -5px;
}
header .menu-btn {
  display: none;
}

header .menu-btn:checked ~ nav .menu {
  max-height: 250px;
}

header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/*Hero section*/
#sec_hero {
    background-image: url(../images/banner_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 0;
    background-position: top center;
    height: 95vh;
    justify-content: center;
    align-items: center;
    display: flex;
    margin: 60px 0 0;
}
.hero_inner {
    padding: 0 20px;
}
.hero_btn {
    margin-top: 30px;
}

/*About section*/
#sec_about {
    background-color: #e4f7ff;
}

/*Engage Section*/
.enagage_box {
    margin-bottom: 50px;
}
.enagage_box:last-child{
    margin-bottom: 0;
}
.enagage_img_mobile{
    display:none;
}
.enagage_img img{
    max-width: 500px;
    width: 100%;
}
.enagage_text p {
    max-width: 420px;
}

/*Price section*/
#sec_price table {
  border-collapse: collapse;
  width: 100%;
 background-color: #fff;
    box-shadow: 3px 3px 25px rgb(0 0 0 / 15%);
}
#sec_price  th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
  color: #fff;
  background-color: #9d4983;
}
#sec_price td {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}
#sec_price a.btn{
    padding: 5px;
    font-size: 14px;
}
#sec_price .table_title{
    text-align: left;
}


/*Form section*/
#sec_form{
    background-color: #e4f7ff;
}
form {
    max-width: 800px;
    margin: 0 auto;
    text-align: left; 
    display: flex;
    flex-wrap: wrap;
}
.form_area {
    width: 48%;
    margin: 0 1% 2%;   
}
#sec_form  label {
    width: 100%;
    text-align: left;
    font-size: 13px;
    color: #333661;
}
.form_area input[type="number"],.form_area input[type="date"],.form_area_last textarea,.form_area input[type="email"],.form_area input[type="text"] {
    width: 100%;
    height: 40px;
    background-color: #fff;
    border: 0;
    box-shadow: 0 3px 10px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    border-radius: 3px;
    padding:0 10px;
    font-family: poppins;
}
.form_area_last {
    width: 100%;
    margin: 0 1%;
}
.form_area_last textarea{
    height: 100px;
}
.form_btn {
    display: block;
    margin: 30px 0 0;
    width: 100%;
}
.form_btn input#mySubmit {
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 50px;
    min-width: 140px;
    text-align: center;
    background-color: #3b3f6f;
    border: 2px solid transparent;
    color: #fff;
    font-family: 'Poppins';
    cursor: pointer;
}

/*Footer section*/
footer{
    text-align: center;
    background-color: #081F26;
    color: #fff;
    padding: 30px 0;
}
footer li {
    display: inline-block;
    padding: 0 5px 20px;
}
footer a{
    font-size: 22px;
    width: 40px;
      height: 40px;
      background-color: #fff;
      text-align: center;
      line-height: 42px;
      display: block;
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      border: 2px solid #fff;
      z-index: 1;
}
footer a .icon {
  position: relative;
  color: #081F26;
  transition: .5s;
  z-index: 3;
}
footer a:hover .icon {
  color: #fff;
  transform: rotateY(360deg);
}
footer li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: .5s;
  z-index: 2;
}
footer li a:hover:before {
  top: 0;
}
footer li:nth-child(1) a:before{
  background: #3b5999;
}

footer li:nth-child(2) a:before{
  background: #55acee;
}

footer li:nth-child(3) a:before {
  background: #0077b5;
}
footer li:nth-child(4) a:before {
  background: #BB3D6E;
}
footer li:nth-child(5) a:before {
  background: #F62B76;
}
footer p{
    margin: 0;
    font-size: 12px;
}



/*Portfollio section*/
.portfolio_box_inner {
    background-color: #fff;
    box-shadow: 3px 3px 25px rgb(0 0 0 / 15%);
}
.portfolio_text{
    padding: 20px;
}
.portfolio_box {
    padding: 1.5%;
    width: 50%;
}

/*About section*/
section#about_service .mid_row{
    flex-wrap: wrap;
}
.about_service_box {
    width: 33.33%;
    padding: 0 10px;
}
section#sec_team .mid_row{
    flex-wrap: wrap;
}
.team_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    padding:30px  20px 0;
}
.team_img {
    width: 40%;
}
.team_img img {
    border-radius: 100%;
    height:150px;
    width: 150px;
    object-fit: cover;
    box-shadow: 3px 3px 25px rgb(0 0 0 / 15%);
}
.team_text {
    padding-left: 20px;
    width: 60%;
}


/*Service service*/
section#sec_service .mid_row{
    flex-wrap: wrap;
}
.service_box {
    width: 31.33%;
    background-color: #fff;
    box-shadow: 3px 3px 25px rgb(0 0 0 / 15%);
    padding: 25px 15px;
    margin: 0 1% 2%;
}
.service_box img{
    max-width:150px;
    width: 100%;
    margin-bottom: 30px;
}
.service_box p{
    margin: 0;
}


/*Blog Page*/
article{
    margin-top: 40px;
    background-color: #fff;
    box-shadow: 3px 3px 25px rgb(0 0 0 / 15%);
}
article:last-child{
    margin-bottom:40px ;
}
article img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.article_text{
    padding: 15px 30px;
}
article a {
    color: #9d4983;
    font-weight: 600;
}
article a:hover{
    border-bottom: 2px solid #9d4983;
}   

/*Contact Sction*/
body#contact div#sec_hero {
    height: auto;
    padding: 100px;
    background-color: #b9d3e4;
    background-image: url(../images/wave.png);
    background-position: 100% 150%;
    background-size: 100%;
}
.contact_text {
    width: 50%;
    padding-right: 15px;
    color: #606060;
}
.contact_inner {
    display: flex;
    flex-wrap: wrap;
}
.contact_inner_box {
    width: 50%;
    padding: 0 20px 30px 0;
}
.contact_inner_box h5{
    font-weight: 500;
}
.contact_inner_box span{
    display: block;
}
.contact_inner_box a{
    display: block;
    color: #606060;
}
.contact_inner_box a:hover{
    color: #9d4983;
}
.contact_inner_box p{
    margin: 0;
}
ul.social li {
    display: inline-block;
    padding: 0 5px 0 0;
    font-size: 28px;
}
.sec_map{
    width: 50%;
    padding-left: 15px;
}